* {
  margin: 0px;
  padding: 0px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18;
  font-weight: bold;
  text-transform: uppercase;
}

nav .algos .result {
  margin-left: 90px;
  width: 150px;
}
nav .algos .dot{
  margin-left: 70px;
}
nav .algos .time{
  margin-left: -50px;
  width: 0px;
}
body{
  background-color: #ffffff;
}
nav {
  background-color: #252926;
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 60%;
      grid-template-columns: 30% 60%;
  -webkit-column-gap: 10%;
          column-gap: 10%;
  padding: 0% 5%;
}

nav .array-inputs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
  place-content: center;
  padding: 5% 0%;
}

nav .array-inputs #a_size {
  padding: 5% 0%;
}

nav .array-inputs #a_speed {
  padding: 5% 0%;
}

nav .array-inputs #a_generate {
  background-color: transparent;
  border: none;
  outline: none;
  color: rgb(30, 255, 0);
  padding: 15% 0% 0% 0%;
  padding-left: 20%;
}

nav .array-inputs #a_generate:hover {
  cursor: pointer;
}

nav .header_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav .header_right .nav-heading {
  display: inline-block;
  font-size: xxx-large;
  padding: 2% 5%;
}
nav .header_right .nav-title {
  display: inline-block;
  font-size: 30px;
  padding: 3% 0%;
  margin-left: 30px;
}

nav .header_right .algos {
  place-content: center;
  padding: 2% 0%;
}

nav .header_right .algos button {
  background-color: transparent;
  border: none;
  color: rgb(243, 218, 218);
  outline: none;
  padding: 2% 0%;
  font-size: x-large;
  margin-left: 290px;
}

nav .header_right .algos button:hover {
  background-color: rgb(61, 60, 60);
  border-radius: 10px;
  cursor: pointer;
}

nav .header_right .algos .butt_locked {
  background-color: transparent;
  cursor: pointer;
}

nav .header_right .algos .butt_locked:hover {
  background-color: transparent;
  border-radius: 10px;
  cursor: pointer;
}

nav .header_right .algos .butt_selected {
  background-color: white;
  border-radius: 10px;
  color: green;
}

nav .header_right .algos .butt_selected:hover {
  background-color: rgb(61, 60, 60);
  border-radius: 10px;
  cursor: pointer;
}

nav .header_right .algos .butt_unselected:hover {
  background-color: rgb(61, 60, 60);
  cursor: pointer;
}

section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 39% 2% 39% 10%;
      grid-template-columns: 10% 39% 2% 39% 10%;
}

section #Info_Cont1 {
  padding: 10%;
}

section #array_container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70vh;
}

section #array_container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50vh;
}

section #Info_Cont2 {
  padding: 10%;
}
section #name_team {
  padding: 0%;
  width: 100%;
}

.hide {
  display: none;
}